.feedback-box {
    background: #040D12;
    height: auto;
    display: flex;
    justify-content: center;
}

.feedback {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5rem 0 5rem 0;
    text-align: center;
    padding: 50px 20px;
    background: rgba(114, 112, 112, 0.4);
    border-radius: 10px;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feedback-text {
    height: auto;
    min-height: 7rem;
    width: 55%;
    background: rgba(114, 112, 112, 0.4);
    color: white;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}

.feedback-text>div {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    font-size: 24px;
}

.feedback-text>p {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    font-size: 16px;
}

.feedback-input {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


.feedback-input-area {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    background: rgba(114, 112, 112, 0.4);
}

.feedback-input-area:focus {
    border-color: #ff4081;
    box-shadow: 0 0 5px rgba(255, 64, 129, 0.5);
}

/* Feedback Button */
.feedback button {
    margin-top: 1rem;
    background: #040D12;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

.feedback button:hover {
    background: #e6006e;
}

@media screen and (max-width: 480px) {

    .feedback {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 50px 20px;
        background: rgba(114, 112, 112, 0.4);
        border-radius: 10px;
        width: 80%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }


    .feedback-text {
        height: auto;
        min-height: 7rem;
        width: 80%;
        background: rgba(114, 112, 112, 0.4);
        border-radius: 10px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0 2rem 0;
        justify-content: space-evenly;
    }

    .feedback-text>div {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-evenly;
        font-size: 16px;
    }

    .feedback-text>p {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-evenly;
        font-size: 12px;
    }

    .feedback-input {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .feedback button {
        margin-top: 1rem;
        background: #040D12;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        font-size: 8px;
        cursor: pointer;
        transition: 0.3s;
    }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    .feedback {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 50px 20px;
        background: rgba(114, 112, 112, 0.4);
        border-radius: 10px;
        width: 80%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }


    .feedback-text {
        height: auto;
        min-height: 7rem;
        width: 90%;
        background: rgba(114, 112, 112, 0.4);
        border-radius: 10px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0 2rem 0;
        justify-content: space-evenly;
    }


    .feedback-text>div {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-evenly;
        font-size: 18px;
    }

    .feedback-text>p {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-evenly;
        font-size: 14px;
    }


    .feedback-input {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .feedback button {
        margin-top: 1rem;
        background: #040D12;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        font-size: 12px;
        cursor: pointer;
        transition: 0.3s;
    }
}