/* CONNECTING PAGE */
.connectingPage {
    height: 100vh;
    background-color: #1E201E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar {
    width: 100%;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    z-index: 1000;
    min-height: 70px;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.connectingPageContainer {
    height: 60vh;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.connectingPageInput h2{
    margin-bottom: 1rem;
}

.connectingPageInput {
    width: 40%;
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;

    background: rgba(114, 112, 112, 0.4);
    color: white;
    border-radius: 20px;
}

.connectingPageInput>div {
    background-color: #3C3D37;
    border-radius: 20px;

}

.connectingPageInput>div>div {
    border-radius: 20px;
    color: white;
    font-weight: 400;
    background-color: black;
}


.connectingPageInput>div>label {
    color: white;
}

.connectingPageInput button {
    background-color: black;
    border-radius: 10px;

}

.connectingPageInput button:hover {
    background: #e6006e;
    transform: scale(1.05);
}

.connectingPageVideo {
    height: 25rem;
    border-radius: 20px;
}

.connectingPageVideoBtns {
    margin-top: 10px;
    display: flex;
    gap: 20px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    
    background: rgba(114, 112, 112, 0.4);
    border-radius: 20px;
}

.connectingPageVideoBtns button {
    padding: 10px;
    border-radius: 10px;
    background-color: black;
    color: white;
    border: none;
}

.connectingPageVideoBtns button:hover {
    background: #e6006e;
    transform: scale(1.05);
}

@media screen and (max-width: 480px) {
    .connectingPageContainer {
        height: 70vh;
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        justify-content: start;
        align-items: center;
        gap: 20px;
    }

    .connectingPageInput {
        height: auto;
        padding: 30px;
        width: 300px;
    }

    .connectingPageInput>h2 {
        font-size: 0.75rem;
    }

    .connectingPageInput>div {
        width: 80%;
    }

    .connectingPageInput>div>label {
        border-radius: 20px;
        color: white;
        font-weight: 400;
        font-size: 0.6rem;
    }


    .connectingPageInput>div>div {
        border-radius: 20px;
        color: white;
        font-weight: 400;
        font-size: 0.6rem;
        background-color: black;
    }

    .connectingPageInput>div>div {
        border-radius: 20px;
        color: white;
        font-weight: 400;
        font-size: 0.6rem;
        background-color: black;
    }

    .connectingPageInput button {
        background-color: black;
        border-radius: 10px;
        font-size: 0.6rem;
    }

    .connectingPageVideo {
        height: 10rem;
        border-radius: 20px;
    }

}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    .connectingPageContainer {
        height: 70vh;
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        justify-content: start;
        align-items: center;
        gap: 20px;
    }

    .connectingPageInput {
        width: 400px;
    }

    .connectingPageInput>h2 {
        font-size: 1rem;
    }

    .connectingPageInput>div {
        width: 40%;
    }

    .connectingPageInput>div>label {
        border-radius: 20px;
        color: white;
        font-weight: 400;
        font-size: 0.8rem;
    }


    .connectingPageInput>div>div {
        border-radius: 20px;
        color: white;
        font-weight: 400;
        font-size: 0.8rem;
        background-color: black;
    }

    .connectingPageInput button {
        background-color: black;
        border-radius: 10px;
        font-size: 0.8rem;
    }

    .connectingPageVideo {
        height: 15rem;
        border-radius: 20px;
    }
}

.videoMeetAllContentDiv {
    height: 100vh;
    background-color: #121212;
    display: flex;
    flex-direction: row;
}

.localUserInterface {
    height: 100vh;
    width: 30%;
    background-color: #1E201E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.localUserVideo {
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;

}

.localUserVideo video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.meetUserVideo {
    height: 15rem;
    width: auto;
    border-radius: 20px;
}


.buttonContainers {
    text-align: center;
    width: auto;
    background-color: #3C3D37;
    border-radius: 10px;
}

.localUserChat {
    height: 50vh;
    width: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.chatRoom {
    height: 100%;
    width: 100%;
    background: #3C3D37;
    border-radius: 5px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.chatContainer {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chattingDisplay {
    flex: 1;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding: 10px;
    border-radius: 8px;
    background-color: #3C3D37;
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
}

.chattingDisplay>div {
    background-color: #4E5D49;
    color: white;
    padding: 8px 12px;
    border-radius: 10px;
    max-width: 80%;
    align-self: flex-start;
    word-break: break-word;
    overflow-wrap: break-word;
    margin-bottom: 8px;
}

.chattingDisplay>div>p:first-child {
    font-weight: bold;
    color: #d9ff9b;
    margin-bottom: 2px;
}

.chattingDisplay>div>p:last-child {
    font-size: 14px;
    white-space: normal;
}

.chattingArea {
    display: flex;
    width: 100%;
    gap: 10px;
    padding: 10px;
    background-color: #3C3D37;
    border-radius: 5px;
}

.chattingArea input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #1E201E;
    color: white;
}

.chattingArea>div>label {
    color: white;
    font-size: 0.75rem;
}


.chattingArea button {
    background-color: #4E5D49;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.chattingArea button:hover {
    background-color: #3A4A35;
}

.conferenceView {
    width: 100%;
    height: 100vh;
    background-color: #1E201E;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 10px;
}


.videoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}


.videoElement {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    aspect-ratio: 4 / 3;
    transition: all 0.3s ease-in-out;

}


.buttonContainersForMobile {
    display: none;
}


@media (min-width: 768px) and (max-width: 1024px) {

    .conferenceView {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .localUserInterface {
        width: 45%;
    }

    .chatOuterMostDiv {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .conferenceView {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    .chattingDisplay {
        flex: 1;
        height: 100%;
        width: 100%;
        overflow-y: auto;
        padding: 10px;
        border-radius: 8px;
        background-color: #3C3D37;
        scrollbar-width: thin;
        scrollbar-color: #ccc transparent;
    }

    .videoElement {
        aspect-ratio: 4 / 3;
    }

    .chatRoom {
        height: 50vh;
    }

    .localUserInterface {
        position: absolute;
        bottom: 8vh;
        left: 0;
        width: 100%;
        height: auto;
        opacity: 1;
        z-index: 10;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: end;
        gap: 10px;
        background-color: transparent;
    }

    .localUserVideo {
        height: 180px;
        width: 200px;
    }

    .localUserChat {
        width: 100%;
        height: auto;
    }

    .videoElement {
        aspect-ratio: 4 / 3;
    }

    .chatOuterMostDiv {
        width: 100%;
    }

    .buttonContainers {
        display: none;
    }

    .buttonContainersForMobile {
        position: absolute;
        bottom: 1vh;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 10px;
        padding: 8px;
        justify-content: center;
        align-items: center;
        background-color: #3C3D37;
        border-radius: 20px;
        z-index: 1000;
        height: 3rem;
        display: flex;
    }

    .videoElement {
        height: 400px;
        width: 500px;
    }

    .conferenceView {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

@media (min-width: 0px) and (max-width: 468px) {
    .videoElement {
        height: 250px;
        width: 300px;
    }

    .conferenceView {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

.conferenceView {
    width: 100%;
    height: 100vh;
    background-color: #1E201E;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.videoElement {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    aspect-ratio: 4 / 3;
    max-width: 100%;
    max-height: 100%;
}